/* MIXINS ===================================== */
.open-reg {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.open-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
/* default */
/* header */
/* working process */
/* featured works */
/* services */
/* COMMON STYLES ============================== */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d6d6d;
}
section {
  min-height: 100vh;
}
.section__caption {
  margin-top: 10%;
  margin-bottom: 9%;
  text-align: center;
}
.section__caption h1,
.section__caption h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
}
.section__caption h1 span,
.section__caption h2 span {
  color: #fc7253;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
/* HEADER ===================================== */
.header {
  background-color: #f5f5f5;
  background-image: url("../img/header/header_bg.jpg");
  background-position: center center;
  background-size: cover;
}
.header__top {
  margin-top: 5%;
}
/* HEADER-LOGO */
.header__top_logo {
  width: 150px;
  height: 55px;
  border: 4px solid #6d6d6d;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 37px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 47px;
}
.logo_colored {
  color: #fd9b85;
}
/* HEADER-MENU */
.header__top_menu {
  float: right;
}
.header__top_menu::before,
.header__top_menu::after {
  display: block;
  content: '';
  width: 34px;
  border: 2px solid #6d6d6d;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.header__menu_stick {
  width: 34px;
  margin: 4px 0;
  border: 2px solid #6d6d6d;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
/* HEADER-FORM */
.header__form {
  width: 100%;
  height: 388px;
  max-width: 372px;
  margin-top: 50px;
  padding: 20px 40px;
  /* 1.7% 3.5% */
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -moz-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
.header__form p {
  margin-bottom: 12px;
  font-size: 20px;
}
.header__form p span {
  color: #fd9b85;
}
.header__form input,
.header__form textarea {
  width: 100%;
  margin-top: 32px;
  border: none;
  border-bottom: 1px solid #bababa;
  font-size: 15px;
}
.header__form button {
  width: 100%;
  max-width: 238px;
  height: 55px;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fc7253;
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  color: #fff;
}
.header__form button span {
  margin-left: 10px;
  font-size: 22px;
}
.header__form button:hover {
  -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.1);
  -moz-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.1);
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.1);
}
/* WORKING PROCESS ============================ */
.process {
  background-color: #ffffff;
}
.process_box {
  max-width: 262px;
  margin: 0 auto;
  padding: 45px 10% 65px;
  color: #ffffff;
  /* PROCESS-BACKGROUND */
  /* PROCESS-TEXT */
  /* PROCESS-BUTTON */
}
.process_box_tomi {
  background-color: #4eb2f7;
}
.process_box_koimona {
  background-color: #c049f8;
}
.process_box_koire {
  background-color: #817eff;
}
.process_box_lara {
  background-color: #f74770;
}
.process_box_lara i {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.process_box:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.3);
  -moz-box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.3);
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.3);
}
.process_box h4 {
  font-size: 20px;
  margin: 15px 0;
}
.process_box p {
  font-size: 15px;
}
.process_box_button {
  width: 88%;
  max-width: 230px;
  height: 55px;
  display: block;
  margin: -30px auto 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  line-height: 55px;
  vertical-align: middle;
  color: #6d6d6d;
}
.process_box_button:hover,
.process_box_button:focus {
  text-decoration: none;
  color: #6d6d6d;
}
.process_box_button:hover {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
  -moz-box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
}
.process_box_button span {
  display: inline-block;
  width: 16px;
  height: 1px;
  margin-right: 18px;
  vertical-align: middle;
  background-color: #6d6d6d;
}
.process_box_button span::before {
  display: block;
  margin-left: 7px;
  margin-top: -8px;
  content: '';
  width: 1px;
  height: 16px;
  background-color: #6d6d6d;
}
/* PROCESS-ICON */
.fa {
  font-size: 50px;
  color: #ffffff;
}
/* FEATURED WORKS ============================= */
.works {
  background-color: #f5f5f5;
  padding-bottom: 10%;
}
.works__box {
  position: relative;
  margin-top: 8%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
}
.works__box img {
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.works__box:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.signature__wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
}
.signature__wrap:hover {
  opacity: 1;
}
.works__signature {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.works__signature p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.works__signature button {
  width: 180px;
  height: 55px;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fc7253;
}
/* SERVICES =================================== */
.serv {
  background-color: #ffffff;
}
.serv__list_group {
  list-style: none;
  padding: 0;
}
.serv__list_item {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background-color: #fbfbfb;
}
.serv__list_item.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
  -moz-box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
}
.serv__list_item.active a {
  cursor: default;
}
.serv__text h4 {
  font-size: 30px;
}
.serv__text span {
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px 0;
  background-color: #fc7253;
}
.serv__text button {
  width: 240px;
  height: 55px;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 30px;
  -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
  -moz-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
}
/* FAQ ======================================== */
.faq {
  background-color: #f5f5f5;
}
.panel-group .panel {
  margin: 10px;
}
.panel-default .panel-heading {
  background-color: #7a7a7a;
  color: #ffffff;
}
.panel-default .panel-heading h4 {
  font-size: 20px;
}
/* FEEDBACK =================================== */
.feedb__slider_item {
  position: relative;
}
.slider_wrap {
  position: relative;
}
.item_pic {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.item__content {
  margin: 50px 25px;
  padding-top: 90px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.2);
  -moz-box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.2);
  text-align: center;
}
.item__content i {
  color: #ffef3b;
  font-size: 12px;
}
.item__content p {
  font-size: 17px;
  padding-left: 35px;
  padding-right: 35px;
}
.item__content p:last-child {
  margin-top: 10px;
  margin-bottom: 35px;
}
.item__content p:last-child span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.slider-arrow {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 17px;
  color: #333333;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.2);
  -moz-box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.2);
  cursor: pointer;
}
.slider-arrow-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  -o-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  padding: 15px 19px 15px 17px;
  z-index: 999;
}
.slider-arrow-next {
  right: 0;
  top: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  -o-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
  padding: 15px 17px 15px 19px;
  z-index: 999;
}
.slider-arrow:hover {
  background-color: #fc7253;
  color: #ffffff;
}
/* change slick-slider default styles */
/* active slide border */
.slick-slide {
  outline: none;
}
/* change slick-slider dots view */
.slick-dots li button:before {
  display: block;
  width: 21px;
  height: 7px;
  color: transparent;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  background-color: #6d6d6d;
}
.slick-dots li.slick-active button:before {
  background-color: #fc7253;
  color: transparent;
  opacity: 1;
}
