body {
	height: 200vh;
	padding-top: 100px;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100px;
	background-color: #aea;
	opacity: 0.9;
}
.main {
	min-height: 100%;
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-position: center 100px;
	background-attachment: fixed;
	background-size: auto calc(100% - 100px);
}
.block {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	width: 400px;
	height: 400px;
	padding: 15px 20px 10px;
	background-color: #BD3632;
	text-overflow: ellipsis;
	
}
.block__text {
	text-align: justify;
	color: #fff;	
}
.main__text {
	text-align: justify;
}
.block__caption {
	color: #fff;
}