/* HEADER */
/* stylization logo */
.header__top {
	margin-top: 3%;
}
.header__top_logo {
	width: 150px;
	height: 55px;

	border: 4px solid #706b73;
	border-radius: 1px;

	color: #706b73;
	font-family: "Open Sans", sans-serif;
	font-size: 37px;
	font-weight: 600;
	text-align: center;
	line-height: 47px;
}
.logo_colored {
	color: #fa9886;
}
/* making menu using pseudo-elements */
.header__top_menu {
	float: right;
}
.header__top_menu::before {
  display: block;
  content: '';
  width: 34px;
  border: 2px solid #706b73;
  border-radius: 1px;
}
.header__top_menu::after {
  display: block;
  content: '';
  width: 34px;
  border: 2px solid #706b73;
  border-radius: 1px;
}
.header__menu_stick { 
  display: block;
  width: 34px;
  margin: 4px 0;
  border: 2px solid #706b73;
  border-radius: 1px;
}